.idea
Server/target/
Server/Application.iml
Server/.DS_Store
.gitignore.swp
Client/.DS_Store
Client/src/404.html
Client/src/apple-touch-icon-precomposed.png
Client/src/assets/
Client/src/crossdomain.xml
Client/src/css/
Client/src/favicon.ico
Client/src/fonts/
Client/src/humans.txt
Client/src/index.html
Client/src/js/
Client/src/robots.txt
Client/src/semantic/
Server/src/main/java/pl/adamsalata/main/cors/
Server/src/test/
*.swp
